@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@media (min-width:480px){
#hero > h1{color:red;}}
body {
    margin-top: 50px;
    padding-bottom:100px;

    background-image: url('/images/resources/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1, p, ul, li {
    color:white;
}

p{
    margin:0px;
    font-size: 16px;
padding:10px;
}

img {width:20px;}

ul {
    list-style: none;
    padding:0px;
    display:flex;
    flex-flow:column nowrap;
    margin:0px;
}
li {
    border:1px solid white;
    height: 30px;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 15px;
}

.circle {display:flex;
justify-content: center;
border:1px solid white;
border-radius:50%;
height: 45px;
width: 45px;}

header {display:flex;
justify-content: center;}

#blank {border:1px solid white;
width:1px;
height:30px;
border-right: none;
border-top:none;
border-bottom:none;
margin:0 auto;}


#hero {border:1px solid white;
border-right: none;
border-left:none;
padding-bottom:20px}

button{ background: transparent;
    border: none !important;
    font-size:20px;
    width:100%;
    color:white;
height: 100%;
font-size:10px;
cursor: pointer;
}
li:hover{
    filter: brightness(150%);
    background-color: rgba(255, 255, 255, 0.25);
}

#tab{
    padding:3rem;
    background-color: rgba(0, 0, 0, 0.784);
    position: absolute;
    top: 0rem;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#tab > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tab > div > h1{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1.5rem;
    margin-bottom: 2.5rem;
}

#tab > div > img {
    height: 3.5rem;
    cursor: pointer;
    transition: all 1s;

}
#tab > div > img:hover{
    transform: rotate(90deg);
}

#tab > video{
    width: 100%;
    max-height: 500px;
}

#tab > img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;

}

.displayNone{
        display: none;}

    #tab { margin:50px;}

    #tab > p {font-size:1em;}
  